
text{
		font: 12px sans-serif;
}

svg {
		display: block;
}
 html, body { 
	margin: 0px;
	padding: 0px;
	height: 10%;
	width: 100%;
	font-family: sans-serif;
 }


.dashed {
            stroke-dasharray: 5,5;
        }
 #chart1, #chart2, #chart3 {
	margin: 0px;
	padding: 0px;
	height: 50%;
	width: 400px;
}
table {
	text-align: center;
	width:100%;
	height: 100%
}

svg.sparkline {
            width: 500px;
            height: 70px;
            font-size: 14px;
            margin-top: -6px;
}
#progEtu1, #histoStudentAllVideos, #histoAllStudents, #repUtile {
	height: 300px;
	width: 800px;
}
